[core]
  eol = lf
  autocrlf = input
  editor = code --wait
  symlinks = true
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[advice]
  skippedCherryPicks = false
[branch]
  autoSetupRebase = always
[fetch]
  prune = true
[init]
  defaultBranch = main
[pull]
  rebase = true
[push]
  autoSetupRemote = true
  default = current
[submodule]
  recurse = true
[alias]
  co = checkout
  cb = checkout -b
  ci = commit -m
  ca = !git add -A . && git status -s && git commit -m
  amend = commit --amend --no-edit
  s = status -s
  br = branch
  unstage = reset .
  rh = reset --hard
  db = !sh -c 'git branch -D $1 && git push origin --delete $1' -
  dlb = !sh -c 'git branch -D $1' -
  drb = !sh -c 'git remote prune origin && git push origin --delete $1' -
  aa = !git add -A . && git status -s
  pushall = "!git push --all; git push --tags"
  ct = !sh -c 'git checkout -b $1 && git push --set-upstream origin $1' -
  ls = !git --no-pager log -10 --date=short --pretty='%C(yellow)%h%Creset - %C(yellow)%an%Creset %C(white)%ad%Creset%C(yellow)%d%Creset %Cgreen%s%Creset'
  ll = !git log --date=short --pretty='%C(yellow)%h%Creset - %C(yellow)%an%Creset %C(white)%ad%Creset%C(yellow)%d%Creset %Cgreen%s%Creset'
  lg = log --graph --abbrev-commit --date=relative --pretty='%C(yellow)%h%Creset - %C(yellow)%an%Creset%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset'
  lf = show --pretty=\"format:\" --name-only
  wtf = reflog
  rs = remote show origin
[safe]
  directory = *
[user]
  name = mike
  email = mglenn@ilude.com

[includeIf "hasconfig:remote.*.url:https://github.com/mtg-eagletg/**"]
  path = ~/.dotfiles/.gitconfig-professional
[includeIf "hasconfig:remote.*.url:https://github.com/EagleTG-Development/**"]
  path = ~/.dotfiles/.gitconfig-professional
[includeIf "hasconfig:remote.*.url:git@github.com:mtg-eagletg/**"]
  path = ~/.dotfiles/.gitconfig-professional
[includeIf "hasconfig:remote.*.url:git@github.com:EagleTG-Development/**"]
  path = ~/.dotfiles/.gitconfig-professional
[includeIf "hasconfig:remote.*.url:github.com-work:*/**"]
  path = ~/.dotfiles/.gitconfig-professional



[includeIf "hasconfig:remote.*.url:https://github.com/ilude/**"]
  path = ~/.dotfiles/.gitconfig-personal
[includeIf "hasconfig:remote.*.url:git@github.com:ilude/**"]
  path = ~/.dotfiles/.gitconfig-personal
[includeIf "hasconfig:remote.*.url:github.com-personal:*/**"]
  path = ~/.dotfiles/.gitconfig-personal
[includeIf "hasconfig:remote.*.url:https://github.com/traefikturkey/**"]
  path = ~/.dotfiles/.gitconfig-personal
[includeIf "hasconfig:remote.*.url:git@github.com:traefikturkey/**"]
  path = ~/.dotfiles/.gitconfig-personal
[credential]
	helper = "!f() { /home/vscode/.vscode-server/bin/03c265b1adee71ac88f833e065f7bb956b60550a/node /tmp/vscode-remote-containers-473c65f2-f17f-4d31-9101-ea64f60f0e03.js git-credential-helper $*; }; f"
