[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "onclave"]
	path = onclave
	url = git@github.com:traefikturkey/onclave.git
	branch = feature/v2-broker-core
